footer {
  background-color: #ccc;
}
footer a{

}
footer div.wrap {

}
footer div.wrap ul.fnb {
  justify-content: space-around;
  margin-bottom: 50px;
}
footer div.wrap ul.fnb li {
  
}
footer div.wrap ul.fnb li:nth-child(1) ul.sublist{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 30px;
  text-align: center;
}
footer div.wrap ul.fnb li:nth-child(1) ul.sublist li{
  
}
footer div.wrap ul.fnb li:nth-child(1) ul.sublist li a{
  display: block;
  line-height: 2.5;
}
footer div.wrap ul.fnb li:nth-child(2) ul.sublist{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 30px;
  text-align: center;
}
footer div.wrap ul.fnb li:nth-child(2) ul.sublist li{
  
}
footer div.wrap ul.fnb li:nth-child(2) ul.sublist li a{
  display: block;
  line-height: 2.5;
}
footer div.wrap ul.fnb li:nth-child(3) ul.sublist{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 30px;
  text-align: center;
}
footer div.wrap ul.fnb li:nth-child(3) ul.sublist li{
  
}
footer div.wrap ul.fnb li:nth-child(3) ul.sublist li a{
  display: block;
  line-height: 2.5;
}
footer div.wrap ul.fnb li:nth-child(4) ul.sublist{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 30px;
  text-align: center;
}
footer div.wrap ul.fnb li:nth-child(4) ul.sublist li{
  
}
footer div.wrap ul.fnb li:nth-child(4) ul.sublist li a{
  display: block;
  line-height: 2.5;
}
footer div.wrap ul.fnb li:nth-child(5) ul.sublist{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 30px;
  text-align: center;
}
footer div.wrap ul.fnb li:nth-child(5) ul.sublist li{
  
}
footer div.wrap ul.fnb li:nth-child(5) ul.sublist li a{
  display: block;
  line-height: 2.5;
}
footer div.wrap ul.fnb li h2{
  margin-top: 10px;
  text-align: center;
}
footer div.wrap ul.fnb li h2 a{
  line-height: 5.5;
  display: block;
}
footer div.wrap ul.fnb li a {

}
footer div.wrap ul.fnb li:nth-child(4) a{

}
footer div.wrap ul.fnb2{
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  width: calc(100vw - 17px);
  transform: translateX(calc((100vw - 1217px) / -2));
  display: grid;
  grid-template-columns: 1fr repeat(9,calc(1200px / 9)) 1fr;
  grid-template-columns: 1fr repeat(9,auto) 1fr;
}
footer div.wrap ul.fnb2 li{
  position: relative;
}
footer div.wrap ul.fnb2 li:nth-child(1){
  grid-column: 2;
}
footer div.wrap ul.fnb2 li a{
  padding: 0 25px;
  line-height: 2;
  display: block;
  font-size: 14px;
  position: relative;
}
footer div.wrap ul.fnb2 li:nth-child(n+2):nth-child(-n+9)::after{
  content: "";
  display:block;
  height: 13px;
  border-left: 1px solid;
  position: absolute;
  bottom: 6px; 
}
footer div.wrap ul.fnb2 li:nth-child(n+8):nth-child(-n+9) a{
  padding: 0 25px;
}
footer div.wrap address {
  text-align: center;
  margin: 25px 0;
}
footer div.wrap address a {
  
}
footer div.wrap p.copyright {
  text-align: center;
}
footer div.wrap div.corp {

}
footer div.wrap div.corp h2 {
  
}
footer div.wrap div.corp ul {
  
}
footer div.wrap div.corp ul li {
  
}
footer div.wrap div.corp ul li a {

}
footer div.wrap div.corp ul li a::before{

}
footer div.wrap div.corp ul li:nth-child(1) a::before {
 
}
footer div.wrap div.corp ul li:nth-child(2) a::before {

}
footer div.wrap div.corp ul li:nth-child(3) a::before {

}
footer .btop{

}
div.wrap2{
  width: 1440px;
  overflow: hidden;
  margin: 0 auto;
  height: 480px;
  display: flex;
  justify-content: center;
}
div.wrap2 img{
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center bottom;
}